<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <style>
    
    body {
      background-color:#A176C4;
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .team-member {
      border: 3px solid #ccc;
      border-radius: 5px;
      border-color:#191D88;                                                                                                           
      padding: 20px;
      width: 250px;
      text-align: center;
    }

    .team-member img {
      width: 100px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 2px;
    }

    .member-info h2 {
      margin: 5px 0;
    }

    .member-info p {
      margin: 5px 0;
      font-size: 14px;
    }
  </style>
</head>
<body>

  <div class="team-member">
    <div class="member-info">
      <img src="C:\Users\home\Desktop\self pic.jpg" alt="Team Member 1">
      <h2>Sejal Kumari</h2>
      <p>(Designing Team)</p>
      <p>Phone:7001465091</p>
      <p>Mail:se.22cse@bmu.edu.in</p>
    </div>
  </div>

  <div class="team-member">
    <div class="member-info">
      <img src="member2.jpg" alt="Team Member 2">
      <h2>Khushi</h2>
      <p>Btech Student </p>
      <p>9138222341</p>
    </div>
  </div>
 <div class="team-member">
    <div class="member-info">
      <img src="member2.jpg" alt="Team Member 2">
      <h2>krish Sakuja</h2>
      <p>B-tech student</p>
      <p>9189532223</p>
    </div>
  </div>
 <div class="team-member">
    <div class="member-info">
      <img src="member2.jpg" alt="Team Member 2">
      <h2>Sayantan</h2>
      <p>B-tech student</p>
      <p>937363537</p>
    </div>
  </div>

</body>
  
</html>