<html>

<head>
<link rel="shortcut icon" href="/css/icons8-website-32.png" type="image/x-icon">
<u>
  <title>About SAHPATHI</title>
 
  <style>
    body {
      background-color: #D2E0FB;                                                                                                          
      font-family: 'Arial', sans-serif;
      font-size: 24px;
      margin: 0;
      
    }
    .header {
      text-color:#FFFF00;
      text-align: center;
      font-size: 24px;
      padding: 20px 0;
    }
    .con{
        display: inline-flex;
        gap: 3rem;
    }
    .logo {
      top: 10px;
      right: 10px;
      width: 300px; 
      height: large;
    }
    .content {
      padding: 20px;
      width: 60%;

    }
  </style> 

</head>
<body>
  <div class="header">
    <h1>About SAHPATHI</h1>
  </div>
  <div class="con"> 
  
  
  <div class="content">
    <p style="color: black">  SAHPATHI is a cutting-edge digital note-taking and organizational tool that appeals to a wide range of users, including students, professionals, and anyone looking for a convenient digital notebook solution.</p>
    <p style="color:black "> It allows users to easily make, update, and categorize notes, ensuring that important information is always at their fingertips.</p>
   
   </div>
   <img height="300" , width="300" src="/css/casual-life-3d-tall-stack-of-books.png" alt=""></div>
   <hr>
</body>
</html>