<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/css/icons8-save-32.png" type="image/x-icon">
    <title>Login</title>
    <link rel="stylesheet" href="/css/sign.css">
    <link rel="shortcut icon" href="logo final.png" type="image/x-icon">
</head>
<body class="body">
    <img src="logo name.png" alt="" class="i">
    <div class="form">
        <form id="loginPage" action="/signin" method="post">
            <img src="https://ouch-cdn2.icons8.com/6Lz4B3f1imD1TvlhO7IDRCI0PyrxntODYpRs9VCtkAc/rs:fit:368:592/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9wbmcvMTE5/L2NhYmEyY2FmLTJi/YmEtNDJmMi04Yjhj/LTQyYzk0ZGI1ZDY4/Yy5wbmc.png" alt="" class="i">
            <h2 class="h">Login</h2>
            <label for="name">Full Name</label><br>
            <input type="text" class="required" id="user" name="user" placeholder="Enter your name"><br> <!-- Combined class attributes -->
            <label for="password">Password</label><br>
            <input type="password" class="required" name="password" id="password" placeholder="Enter your password"><br> <!-- Combined class attributes -->
             <button class="btn">Login</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="index.js"></script>
    <script src="disp.js"></script>
  
</body>
</html>
