
.custom-navbar-bg {
    background-color: #C5E898;
}

.notepic {
    display: flex;
    gap: 2rem;
  height: 33%;
  margin-top: 15px;

}

#picContainer{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

#picContainer>img{
    height: 5rem;
}

#picContainer>img:hover{
    scale: 3;
    transition: 0.5s;
}

.note {
    flex: 1;
    margin: 2.5%;
    width: 45%; 
    background-color: #FAEED1;
    
}


.pic {
    display: inline-flex;

    gap: 2rem;
    padding: 5px;
   
}

.text {
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 1rem;
}
.disp{
    height: 200px;
     background-color: lightcyan ;
      width:90%;
      margin: 1.5rem;
      
}
#btn:hover{
    cursor: pointer;
    
}
#in{
    border-radius: 30%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin-left: 55px;
}